@{
    Layout = "~/Views/Shared/_layoutadmin.cshtml";
}
<br />
<br />
<br />
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">
                <div class="card-body p-4">
                    <h1>Exam Edit</h1>
                    <div class="container mt-5 px-2">

                        <div class="mb-2 d-flex justify-content-between align-items-center">
                        </div>
                        <div class="table-responsive">
                            <table class="table table-responsive table-borderless">


                                <tbody>
                                    <tr>


                                        <div class="col-md-12"><label class="labels">Course</label><input type="text" class="form-control" placeholder="Enter Course" value=""></div>
                                        <div class="col-md-12"><label class="labels">Date</label><input type="text" class="form-control" placeholder="Enter Date" value=""></div>
                                        <div class="col-md-12"><label class="labels">Time</label><input type="text" class="form-control" placeholder="Enter Time" value=""></div>
                                        <div class="col-md-12">
                                            <label class="labels">Condition</label>
                                            <select class="form-control" id="condition">
                                                <option value="true">Pending</option>

                                            </select>
                                        </div>
                                        <div class="text-end">
                                            <a href="#" class="btn btn-outline-success m-1">Save</a>
                                        </div>

                                    </tr>






                                </tbody>
                            </table>
                            <div class="text-end">
                                <a a asp-area="" asp-controller="Admin" asp-action="admin_exam" class="btn btn-right btn-outline-secondary m-1">Back</a>
                                </<div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
