@{
    Layout = "~/Views/Shared/_layoutadmin.cshtml";
}
<br /><br /><br />
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">
                <div class="card-body p-4">
                    <div class="container mt-5 px-2">
                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <input type="text" class="form-control" placeholder="Search">
                                <button type="button" class="btn btn-primary btn-search ms-2">Search</button>
                            </div>
                            

                        </div>
                        <div class="mb-2 d-flex justify-content-between align-items-center">
                        </div>
                        <div class="table-responsive">
                            <table class="table table-responsive table-borderless">

                                <thead>
                                    <tr class="bg-light">


                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Subject</th>
                                        <th>Message</th>

                                        
                                        <th scope="col" width="10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>


                                        <td>Trần Văn B</td>
                                        <td>tranvanb456@gmail.com</td>
                                        <td>Error</td>
                                        <td style="text-overflow: ellipsis; max-width: 100px; white-space: nowrap;  overflow: hidden;">
                                            An unexpected issue occurred. Please try again later or contact support if the problem persists.
                                        </td>

                                        <td><a a asp-area="" asp-controller="Admin" asp-action="admin_feedback_view" class="btn btn-outline-primary m-1">View</a></td>
                                    </tr>






                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>