@{
    Layout = "~/Views/Shared/_layoutadmin.cshtml";
}
<br />
<br />
<br />
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">
                <div class="card-body p-4">
                    <div class="container mt-1 px-2">
                        <div class="row">
                            <div class="col-sm-5"><img src="~/adminasset/images/course-single.jpg" alt=""
                                    class="w-100 img-course"></div>
                            <div class="col-sm-7">
                                <h2 class="course-heading">JavaScript Essentials: A Comprehensive Guide</h2>
                                <div class="course-title">
                                    <div class="course-title-item course-studylevel">Study Level:
                                        <span>Intermediate</span>
                                    </div>
                                    <div class="course-title-item course-starts">Starts: <span>November 22, 2030</span>
                                    </div>
                                    <div class="course-title-item course-duration">Durations: <span>November 28
                                            Weeks</span></div>
                                    <div class="course-title-item course-discipline">Discipline: <span>Other Courses,
                                            Tech Courses</span></div>
                                    <div class="course-title-item course-description">Description: <br>
                                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit incidunt,
                                            est cupiditate illo, pariatur sapiente atque! Saepe, rerum quis ab,
                                            adipisci, in placeat eos assumenda recusandae nam repellendus aut quas.
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, voluptates,
                                            distinctio. Maxime distinctio sunt mollitia vel laborum qui facere.
                                            Molestiae et vitae minus doloremque magni minima ad soluta in a.

                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fuga
                                            libero commodi perspiciatis quasi autem excepturi et, pariatur maxime, sint
                                            velit aperiam modi minima doloribus ipsam nisi sunt voluptatum, quisquam.
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores est animi
                                            alias molestias aspernatur minus accusantium fuga dolores, ipsa, minima
                                            placeat deleniti id dicta magni, cupiditate praesentium, nemo labore unde.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>