@{
    Layout = "~/Views/Shared/_layoutadmin.cshtml";
}

<br>
<br>
<br>    
<div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">
              <div class="card-body p-4">
                <h3>Name: Trần Văn B</h3>
                <br>
                <h5>Date of birth: 01/07/2005</h5>
                <br>
                <h5>ID: 789012</h5>
                <br>
                <h5>Email: tranvanb456@gmail.com</h5>
                <img src="~/adminasset/images/profile/user-3.jpg" alt="" style="height: 100px;">

              </div>
            </div>
            <div class="text-end">
                <a a asp-area="" asp-controller="Admin" asp-action="adminedit" class="btn btn-outline-success m-1">Edit</a>
            </div>
          </div>
        </div>
          
      </div>