@{
    Layout = "~/Views/Shared/_layoutadmin.cshtml";
}
<br /><br /><br />
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">
                <div class="card-body p-4">
                    <h3>Subject: Error</h3>
                    <br>
                    <h5>Name: Trần Văn B</h5>
                    <br>
                    <h5>Email: tranvanb456@gmail.com</h5>
                    <br>
                    <h6>Message: An unexpected issue occurred. Please try again later or contact support if the problem persists.</h6>

                </div>
            </div>
            <div class="text-end">
            <a a asp-area="" asp-controller="Admin" asp-action="admin_feedback" class="btn btn-right btn-outline-secondary m-1">Back</a>
            </div>

        </div>
    </div>

</div>