@{
    Layout = "~/Views/Shared/_layoutadmin.cshtml";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">
                <div class="card-body p-4">
                    <div class="container mt-5 px-2">
                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <input type="text" class="form-control" placeholder="Search">
                                <button type="button" class="btn btn-primary btn-search ms-2">Search</button>
                            </div>
                            <div><a a asp-area="" asp-controller="Admin" asp-action="admin_class_student_add" class="btn btn-outline-secondary btn-add m-1">Add</a></div>

                        </div>
                        <div class="mb-2 d-flex justify-content-between align-items-center">
                        </div>
                        <div class="table-responsive">
                            <table class="table table-responsive table-borderless">

                                <thead>
                                    <tr class="bg-light">


                                        <th>Name</th>
                                        <th>ID</th>
                                        <th>Point</th>



                                        <th scope="col" width="10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>


                                        <td>Nguyễn Văn A</td>
                                        <td>123456</td>
                                        <td>80</td>



                                        <td><a a asp-area="" asp-controller="Admin" asp-action="admin_class_student_edit" class="btn btn-outline-success m-1">Edit</a></td>

                                    </tr>

                                    




                                </tbody>
                                
                            </table>
                            <div class="text-end">
                                <a a asp-area="" asp-controller="Admin" asp-action="admin_class" class="btn btn-outline-secondary m-1">Back</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>