@{
    Layout = "~/Views/Shared/_layoutadmin.cshtml";
}
<br /><br /><br />
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">
                <div class="card-body p-4">
                    <div class="container mt-5 px-2">

                        <div class="mb-2 d-flex justify-content-between align-items-center">
                        </div>
                        <div class="table-responsive">
                            <table class="table table-responsive table-borderless">

                                <thead>
                                    <tr class="bg-light">


                                        <th>Name</th>


                                        <th scope="col" width="20%">Points</th>
                                        <th scope="col" width="10%"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>


                                        <td>Nguyễn Văn A</td>


                                        <td>
                                            <div class="col-md-12"><label class="labels"></label><input type="text" class="form-control" placeholder="Enter point" value=""></div>
                                        </td>



                                    </tr>


                                    <div class="text-end">
                                        <a href="#" class="btn btn-outline-success m-1">Save</a>
                                    </div>

                                    </tr>






                                </tbody>
                            </table>
                            <div class="text-end">
                                <a a asp-area="" asp-controller="Admin" asp-action="admin_exam" class="btn-right btn btn-outline-secondary m-1">Back</a>
                                </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>