<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin - Symphony Limited</title>

    <!-- Fonts and Icons -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="@Url.Content("~/loginasset/css/style.css")">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="@Url.Content("~/images/logo.png")">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <!-- Scripts -->
    <script src="~/loginasset/js/jquery.min.js"></script>
    <script src="~/loginasset/js/popper.js"></script>
    <script src="~/loginasset/js/bootstrap.min.js"></script>
    <script src="~/loginasset/js/main.js"></script>



</body>
</html>
