<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Symphony Limited</title>
  <link rel="icon" type="image/png" href="~/images/logo.png">
  <link rel="stylesheet" href="~/adminasset/css/style-custom.css">
  <link rel="stylesheet" href="~/adminasset/css/styles.min.css" />

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div style="background-color: #040c25;">
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="../../home page/index.html" class="text-nowrap logo-img">
            <img src="~/images/Logo_web.png" alt="" style="width:200px" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
              <span class="hide-menu">Profile</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" <a class="sidebar-link" <a a asp-area="" asp-controller="Admin" asp-action="admin"
                aria-expanded="false">

                <span class="hide-menu">Info</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
              <span class="hide-menu">Admin</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" <a a asp-area="" asp-controller="Admin" asp-action="adminstudent"
                aria-expanded="false">

                <span class="hide-menu">Student</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" a asp-area="" asp-controller="Admin" asp-action="admin_class"
                aria-expanded="false">

                <span class="hide-menu">Class</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" a asp-area="" asp-controller="Admin" asp-action="admin_course"
                aria-expanded="false">

                <span class="hide-menu">Course</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" a asp-area="" asp-controller="Admin" asp-action="admin_exam"
                aria-expanded="false">

                <span class="hide-menu">Exam</span>
              </a>
            </li>


            <li class="sidebar-item">
              <a class="sidebar-link" a asp-area="" asp-controller="Admin" asp-action="admin_feedback"
                aria-expanded="false">

                <span class="hide-menu">Contact</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" a asp-area="" asp-controller="Admin" asp-action="admin_account"
                aria-expanded="false">

                <span class="hide-menu">Account</span>
              </a>
            </li>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">

            </li>
          </ul>

        </nav>
      </header>
      <!--  Header End -->
      <div class="body-page-custom">
        @RenderBody()
      </div>
    </div>
    <script src="~/adminasset/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/adminasset/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminasset/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/adminasset/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/adminasset/js/sidebarmenu.js"></script>
    <script src="~/adminasset/js/app.min.js"></script>
    <script src="~/adminasset/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>